.App {
  /* text-align: center; */
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.outter {
  /* border: solid pink 1px; */
  height: 100vh;
}

.canvas_cont {
  height: 100%;
  position: relative;
  z-index: 1;
  /* background: url(./bardiel.18.video-poster.jpeg) center / contain; */
}

.blur_sides {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: url(./bardiel.18.video-poster_blurred.jpg) center / cover;
}

canvas {
  /* display: none; */
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.5em;
  z-index: 2;
  border-radius: 20px;
  padding-inline: 0.5em;
  padding-block: 0.25em;
  background: rgba(0, 0, 0, 0.2);
  margin: 0.5em;
  color: rgba(255, 255, 255, 0.35);
}


.static {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: var(--height);
  opacity: var(--opacity);
  width: var(--width);
  filter: sepia(0.2);
  transition: opacity 1.5s;
  background: url(./bardiel.18.video-poster.jpeg) center / contain;
}

.button_cont {
  white-space: nowrap;;
}
.init:hover{
  background: rgba(188, 129, 129, 0.3); 
}
.init {
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.1s;
  padding-inline: 0.5em;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(188, 129, 129, 0.2);
  border: unset;
}